AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: No
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 0
Cpp11BracedListStyle: false
IndentCaseLabels: true
IndentExternBlock: NoIndent
IndentPPDirectives: BeforeHash
IndentWidth: 4
LambdaBodyIndentation: OuterScope
PointerAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceInEmptyBlock: true
UseTab: Never
